.cardImage {
    object-fit: contain;
    width: 150px;
    flex-grow: 1;
}

.card {
    width: 300px;
    border-style: solid;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 20px;
}