@font-face {
    font-family: "LogoFont";
    src: url(./../../fonts/Bokor-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SubFont";
    src: url(./../../fonts/FunnelDisplay-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

.img {
    object-fit: cover;
    width: 100vw;
}

.home {
    position: relative;
    flex-grow: 1;
}

.storeName {
    position: absolute;
    color: black;
    left: 50%;
    top: 10vh;
    font-size: 5vw;
    text-shadow: -2px -2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white,
    2px 2px 0 white;
    transform: translateX(-50%);
    font-family: "LogoFont";
    letter-spacing: 14px;
}

.subtext {
    position: absolute;
    top: 30vh;
    font-size: 2.5vw;
    color: black;
    left: 50%;
    transform: translateX(-50%);
    font-family: "SubFont";
}