body {
  max-width: 100vw;
  height: 100vh;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  margin: 80px 0px 80px 0px;
}

header {
  position: fixed;
  top: 40px;
  background-color: #252422;
  padding: 10px 20px 10px 20px;
  border-radius: 50px;
  font-size: 20px;
}

header > a {
  margin: 0px 20px 0px 20px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}
