@font-face {
  font-family: "LogoFont";
  src: url("./fonts/Bokor-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LinkFont";
  src: url("./fonts/Jura-VariableFont_wght.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FooterLinkFont";
  src: url("./fonts/FunnelDisplay-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: #edede9;
}

header {
  display: flex;
  position: sticky;
  top: 0px;
  background-color: white;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  align-items: center;
  z-index: 1;
}

header > a {
  margin: 0px 20px 0px 20px;
  text-decoration: none;
  font-family: "LinkFont", sans-serif;
  color: #343a40;
}

a:visited {
  text-decoration: none;
  color: #343a40;
}
.home {
  letter-spacing: 10px;
}
.shop {
  flex-grow: 1;
}

.cart {
  display: flex;
  padding-right: 10px;
}

header > a:first-child {
  font-family: "LogoFont", sans-serif;
  font-size: 40px;
  margin-right: 80px;
}

.cartTotal {
  font-size: 14px;
  margin-left: 2px;
}

footer {
  display: flex;
  height: 100px;
  bottom: 0px;
  padding: 40px;
  background-color: white;
}

.footerLogo {
  font-family: "LogoFont";
  font-size: 50px;
  letter-spacing: 10px;
  text-align: center;
  margin: 0px;
}

.linkContainer {
  font-family: "FooterLinkFont";
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
}

.link {
  display: flex;
  padding: 6px 0px;
  text-align: center
}

.icon {
  height: 30px;
  margin-right: 10px;
}

footer a {
  text-decoration: none;
  color: #343a40;
  align-content: center;
}

footer a:visited {
  color: #343a40;
}

a:hover, footer a:hover {
  color: #6c757d;
}