body {
  max-width: 100vw;
  height: 100vh;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  background-color: white;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
}

header > a {
  margin: 0px 20px 0px 20px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.shop {
  flex-grow: 1;
}

.cart {
  display: flex;
  justify-self: flex-end;
}